/node_modules
/public/hot
/public/storage
/public/imgs/games
/public/imgs/talks
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
deploy.sh
