body{
    overflow-x: hidden;
}

.navbar{
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-brand, .nav-link{
    color: white !important;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

section{
    display: table;
    width: 100vw;
    height: 100vh;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    width: 100vw;
}

#titleSection{
    background-image: url('../imgs/indexbg1.jpg');
}

#gameSection{
    background-image: url('../imgs/indexbg2.jpg');
}

#talkSection{
    background-image: url('../imgs/indexbg1.jpg');
}

#locationSection{
    background-image: url('../imgs/indexbg3.jpg');
}

#sponsorSection{
    background-image: url('../imgs/indexbg4.jpg');
}

.displayTable{
    display: table;
    height: 100%;
    width: 100%;
}

.centerVertical{
    display: table-cell;
    vertical-align: middle;
}

.halfPane{
    display: none;
}

h1{
    font-size: 2.75rem;
    font-family: Arial;
}

@media (min-width: 576px) {
    h1 {
        font-size: 3.75rem;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

i{
    vertical-align: middle;
}

p{
    font-size: 1.1rem;
}

.btn{
    border-radius: 0;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-danger{
    background-color: #4D346B;
    border-color: #4D346B;
}

.btn-danger:hover, .btn-danger:active{
    background-color: #412c5a !important;
    border-color: #412c5a !important;
}

.btn-danger:active, .btn-danger:focus{
    box-shadow: 0 0 0 0.2rem rgba(65, 44, 90, 0.5) !important;
}

/*
COMPETITIONS
 */
.owl-carousel{
    z-index: 0;
}

.owl-carousel .col-md-4{
    padding: 0;
}

.owl-carousel button.owl-dot{
    margin-right: 0.4rem;
    border: 1px solid #6b6b6b;
    border-radius: 1rem;
}

.owl-carousel button.owl-dot.active, .owl-carousel button.owl-dot:hover{
    border-color: #f8f9fa;
}

.owl-carousel button.owl-dot:focus{
    outline: none;
}

.owl-theme .owl-dots .owl-dot span{
    margin: 5px;
    background: #6b6b6b;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: white;
}

/*
TALKS
 */
#talkSection > .row{
    height: inherit;
    margin: 0;
}

#talkSection .container{
    margin: 0 10%;
    width: 80%;
}

#talkSection .halfPane{
    background-color: #4D346B;
}

@media (min-width: 768px){
    .halfPane{
        display: inherit;
    }
}

.halfPane img{
    width: 40%;
    display: inherit;
    margin: 0 auto;
}

/*
LOCATION
 */
iframe{
    width: 100%;
    height: 75vh;
    border: none;
}

iframe .i4ewOd-pzNkMb-haAclf {
    background-color: #02B9B5;
    color: white!important;
}

/*
SPONSORS
 */
.col-md-4 img, .col-md-3 img, .col-md-2 img{
    width: 100%;
}

/*
NAVIGATOR ARROW
 */
.nextStepDiv{
    position: fixed;
    bottom: 5vh;
    width: 100%;
}

.nextStepDiv .container{
    position: relative;
}

#nextStep{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.165rem 0.35rem;
    z-index: 99;
}

#nextStep:hover{
    color: white;
    box-shadow: none;
}

#nextStep:focus{
    box-shadow: none;
}