@font-face {
    font-family: clock-font;
    src: url('../fonts/digital-7.ttf');
}

@font-face {
    font-family: Lovelo;
    src: url('../fonts/Lovelo-LineLight.ttf');
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    background-color: white;
    color: white;
}

.content {
    background-color: #1b1e21;
}

/*Navbar*/
.navbar {
    background-color: transparent !important;
    position: absolute;
    width: 100vw;
    z-index: 1;
}

.nav-link {
    color: white !important;
    font-size: 1.5em !important;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5em !important;
}

.material-icons {
    vertical-align: middle;
}

/*Jumbotron*/
.jumbotron {
    background: url("../imgs/home-bg.png") fixed center;
    background-size: cover;
    height: 90vh;
    border-radius: 0;
    margin-bottom: 0;
}

.title-section {
    text-align: center;
    margin-top: 7.5%;
}

#main-title {
    font-family: Lovelo, serif;
    font-size: 10em;
    margin-bottom: 0;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FF3988, 0 0 0.5em #FF3988, 0 0 0.1em #FF3988, 0 10px 3px #000;
}

#sub-title {
    width: 60%;
    margin-left: 20%;
    font-size: 1.75em;
}

#datum {
    margin-top: 5%;
    font-size: 2em;
    font-weight: bold;
}

/*Countdown*/
#countdown {
    font-family: clock-font, serif;
    font-size: 5em;
    margin-bottom: 25%;
    width: 100%;
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #1bcb21,
    0 0 80px #1bcb21,
    0 0 90px #1bcb21,
    0 0 100px #1bcb21,
    0 0 150px #1bcb21;
}

#countdowntxt {
    font-size: 45px;
    text-align: center;
}

#timer {
    text-align: center;
}

td {
    width: 1.8em;
}

.black-bg {
    padding-top: 5%;
    background-color: #1b1e21;
}

#inschrijvingen {
    font-size: 2em;
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
}

#inschrijvingen > h3 {
    text-align: left;
}

#inschrijvingen > h4 {
    text-align: left;
}

#inschrijvingen-text {
    text-align: left;
    margin-top: 2em;
    font-size: 0.75em;
}

#inschrijvingen-text:hover {
    color: #15911a;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 2px;
    border-radius: 0 0 6px 6px;
    /*background: linear-gradient(to top, #B6FF00, transparent);*/
    background: #B6FF00;
    box-shadow: 0 0 5px #fff,
    0 0 5px #fff,
    0 0 7px #fff,
    0 0 10px #1bcb21,
    0 0 12px #1bcb21,
    0 0 14px #1bcb21,
    0 0 16px #1bcb21,
    0 0 18px #1bcb21;
    z-index: 5;
}

/*news*/
.recentnews {
    width: 100%;
    padding-bottom: 10%;
}

.recentnews > hr {
    border: 1px solid #fff;
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #cba011,
    0 0 80px #cba011,
    0 0 90px #cba011,
    0 0 100px #cba011,
    0 0 150px #cba011;
}
.newstitle{
    color: #ff9418;
}

/*Sponsors*/
.bg-white > .container > h2 {
    text-align: center;
    color: black;
    font-size: 3em;
    margin-bottom: 1em;
}

.sponsors {
    width: 100vw;
}

#sponsorTitle {
    text-align: center;
}

#tierOne {
    margin-bottom: 4em;
}

#tierTwo {
    margin-bottom: 4em;
}

#tierOne > .col > img {
    width: 100%;
    max-height: 8em;
    display: block;
    margin: 0 auto;
}

#tierTwo > .col > img {
    max-width: 95%;
    max-height: 5.5em;
    display: block;
    margin: 0 auto;
}

#tierThree > .col > img {
    max-width: 90%;
    max-height: 4em;
    display: block;
    vertical-align: center;
    margin: 0 auto 4em;
}

.slanted-top {
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
}

.slanted {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

/*Footer*/
footer {
    height: 30vh;
    background-color: #1b1e21;
}

#credits {
    padding-top: 5em;
}

.copy {
    text-align: center;
    color: white;
    padding-top: 7.5em;
}

/*Dit is een comment*/
