/*
COMMON
 */
body{
    background-color: #1b1e21;
}

h1{
    color: #ff0041;
}

hr{
    border-color: white;
}

i{
    vertical-align: middle;
    margin-right: 0.1em;
    cursor: pointer;
    color: black !important;
}

/*
buttons & links
 */
a *{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.btnBar{
    background-color: #f8fafc;
    padding: 0.2em;
}

.btn{
    padding: 0.25em 0.5em;
    transition: all 0.3s ease 0s;
}

.outlineBtn{
    border: 2px solid #5098c7;
    color: #5098c7;
}

.outlineBtn:hover{
    border: 2px solid #284c63;
    border-radius: 1em;
    color: #284c63;
}

.inlineBtn{
    background-color: #c7505c;
    color: white;
}

.inlineBtn:hover{
    background-color: #c03d4b;
    color: white;
}

.bg-warning{
    background-color: #ffe817;
}

/*
forms
 */
.starIcon{
    width: 1rem;
}

ul.form-control{
    height: inherit;
    list-style: none;
}

ul.form-control li{
    display: flex;
}

/*
CARDS
 */
.card{
    background-color: transparent;
    color: white;
    border: none;
}

.card-body{
    padding: 0;
}

.card-title{
    padding-top: 0.25rem;
    margin-bottom: 0;
    color: #ff0041;
}

.card-text{

}

.card-deck{
    margin-bottom: 1.5rem;
}

.list-group.list-group-flush, .list-group-item{
    background-color: inherit;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

/*
NAVBAR
 */
.nav-link {
    color: white;
    font-size: 1.05em;
}

.nav-link:hover, .navbar-brand:hover{
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 1.05em;
}

#notificationDropdown i{
    color: white!important;
}

.admin-items .dropdown-item{
    font-size: 0.8rem;
}

.dropdown-item form{
    display: inline-block;
}

/*
USER PROFILE
*/
.profilePane{
    color: white;
    padding: 1em;
    margin: 1em 0;
}

.profilePane h4, .profilePane h5{
    margin-bottom: 0;
}

hr.mb-4{
    margin-top: 0.5rem;
}

.profileCard{
    border: 1px solid white;
}

.profileCard .card-body{
    padding: 1.25rem 0.5rem;
}

.profileCard > .card-img-top{
    display: flex;
    width: 95%;
    margin: -1rem auto;
    background-color: #fcfdfe;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    box-shadow: 0px 5px 10px -1px #ababab;
}

.profileCard > .card-img-top > .card-img-top{
    width: 90%;
    margin: 0.5rem auto 0;
}

.profilePane .row{
    margin: 0;
}

/*
TEAMS
 */
.noBtnStyling{
    border: none;
    background-color: inherit;
    color: inherit;
    height: 100%;
    vertical-align: middle;
}

/*
TALKS
*/
.row img{
    width: 100%;
}

.col-md-4:hover{
    text-decoration: none;
}

/*
SPONSORS
*/
.tier1{

}

.tier2{

}

.tier3{

}

/*
ADMIN
 */
.adminTable{
    width: 100%;
}

.deleteForm{
    display: inline-block;
}

.deleteForm button{
    border: inherit;
    background-color: inherit;
    padding: inherit;
}

/*
SEATMAP
 */
#currSeats{
    text-align: right;
    margin-right: 2.5%;
}

.table-row{
    flex-wrap: nowrap;
}

.table-wrapper{
    background-color: white;
}

.table-wrapper .row{
    margin: 0;
}

.col-sm-6{
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.table-wrapper .row .col-sm-6{
    padding: 0;
}

.seatmap-table{
    border: 1px solid black;
    height: 50px;
    width: 100px;
    margin: 0.25rem 0;
}

.seat{
    display: table;
    margin: 0 auto;
    background-color: #02B9B5;
    color: white;
    border-radius: 0.5rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.seat p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}

.unavailable{
    background-color: #F16EA4;
    cursor: not-allowed;
}

.selected{
    background-color: #F7B994;
}